/*全局样式*/
@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
a,u{text-decoration: none;color: #cdcdcd;}
input{outline:none;border: none;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}

*{
	margin: 0;
	padding: 0;
}
body{
	background:#303030;
	font-size: 14px;
}
.headTop{
	width:100%;
	background: red;
	/*position: fixed;*/
	/*top: 0;*/
	z-index: 999;
}
.header-container{
	width: 100%;
	height: 83px;
}
#pox{
	width: 1263px;
	/*padding-left:12px ;*/
/*	padding-left:12px ;*/	
	margin: 0 auto;
}
.head-a{
	width: 1263px;
	height: 46px;
	margin: 0 auto;
}
.container{
	width: 664px;
	line-height: 46px;
	height:46px;
	background: #333;
	float: left;
	padding-left: 12px;
}
/*.pr{
	height: 46px;
}*/
/*logo*/
.container h1{
	float: left;
	width: 100px;
	height: 38px;
	background:url(../img/nuandao.png) no-repeat -50px -280px;
	margin-top: 4px;
	margin-bottom: 4px;
	float:left;
	text-indent: -999em;
	z-index: 1;
}
/*搜索框*/
.container .head-search{
	float: left;
	padding-top: 5px;
	
}
.head-search .header-search-input{
	display: block;
	width: 360px;
	height: 36px;
	padding: 4px 0 5px 30px;
	background: #fff;
	font-size: 16px;
	margin-left: 16px;
}
/*搜索图标*/
.head-search i{
	width: 13px;
	height: 13px;
	background:url(../img/nuandao.png) no-repeat -260px -280px;
	left: 140px;
	top: 17px;
	position: absolute;
}
/*优惠标题*/
.container .header-hirt{
	float: left;
	display: block;
	font-size: 13px;
	line-height:46px;
	color:#e396ff;
	margin-left: 15px;
}
/*右侧小列表*/
.head-a .nav{
	float: right;
	width: 575px;
	height:46px;
	background: red;
	line-height: 46px;
	padding-right: 12px;
}
.head-a .nav a{
	display: block;
	float: right;
}
.head-a .nav li{
	float: right;
	font-size: 12px;
}
/*微博标志*/
.head-a .nav li:nth-child(1){
	width: 121px;
	height:46px;
	line-height: 46px;
}

.head-a .nav .nav-fnum{
	display: inline-block;
	width: 57px;
	position: relative;
	margin-left: 2px;
}
.head-a .nav .nav-fnum i{
	display: inline-block;
	width: 57px;
	height: 20px;
	position: absolute;
	top: 21px;
	background: url(../img/bg_flbtn-1.png) no-repeat -190px -16px ;
}
.head-a .nav .span-fnum{
	display: inline-block;
	margin-left:6px;
	width: 48px;
	height: 20px;
	color: #333;
	background: #fcf8ea;
	border: 1px solid #ecd181;
	line-height: 20px;
	text-align: center;
}
.head-a .nav .nav-add{
	display: inline-block;
	width: 62px;
	height: 20px;
	text-align: center;
}
.head-a .nav .span-add{
	display: inline-block;
	line-height: 20px;
	width:52px;
	color: #fff;
	height: 20px;
	background: url(../img/bg_flbtn.png) no-repeat -63px 0;
	padding-left:15px ;
}
/*登录|注册*/
.head-a .nav li:nth-child(2){
	width: 80px;
	height: 22px;
	border: 1px solid #fff ;
	text-align: center;
	background: #333333;
	line-height: 20px;
	margin-top:12px ;
	color: #fff;
	font-size: 14px;
	margin-right: 29px;
}
.head-a .nav li:nth-child(3){
	width: 53px;
	text-align: center;
	color: #fff;
}
/*购物车*/
.nav .nav-car{
	width: 96px;
	height: 20px;
	color: #cdcdcd;
	text-align: center;
}
.nav .nav-car span{
	font-size:14px ;
	background: url(../img/nuandao.png) no-repeat -340px -88px;
	padding-left:23px ;
}
.nav .nav-car .nav-num{
	font-size:14px ;	
	display: inline-block;
	width: 22px;
	height: 20px;
	color: #FFFFFF;
	line-height: 20px;
	background: #3ec0a3;
	margin-left:4px ;
}

/*head-b左侧的列表*/
.head-b{
	width: 100%;
	height: 37px;
	background: #fff;
}
.head-b .nav-bottom{
	width: 1263px;
	height:36px;
	margin: 0 auto;
	border-bottom: 1px solid #c7c7c7;
}
.head-b .nav-bottom .nav-left{
	float: left;
	padding-left:12px ;
}
.head-b .nav-bottom .nav-left li{
	float: left;
	width: 60px;
	line-height:36px;
	margin-right: 25px;
}
.head-b .nav-bottom .nav-left li a{
	font-size: 14px;
	color: #303030;
	height: 35px;
	display: block;
}
.head-b .nav-bottom .nav-left li:nth-child(1) a{
 	color:#a24ac2 !important;
}
.head-b .nav-bottom .nav-left li:nth-child(7) a{
 	color:#a24ac2 !important;
}
.nav-bottom .nav-left li a:hover{
	border-bottom: 1px solid #226f5e;
	color:#226f5e ;	
}
.head-b .nav-bottom .nav-right{
	float: right;
}
.head-b .nav-bottom .nav-right li{
	float: left;
}
.nav-bottom .nav-right{
	width: 248px;
	height: 36px;
	line-height:36px ;
	font-size: 13px;
} 
.nav-bottom .nav-right li{
	margin-left: 16px;
	position: relative;
}
.nav-bottom .nav-right li a{
	color:#8f8f8f;
}
.nav-bottom .nav-right li:nth-child(1){
	margin-left: 0;
	width: 127px;
}
.nav-right li:nth-child(1) span{
	display: inline-block;
	width: 16px;
	height: 15px;
	padding-top:20px ;
	margin-right: 4px;
	background: url(../img/nuandao.png) no-repeat -200px -280px;
	position: absolute;
	top: 11px;
	left: -20px;
}
.nav-right li:nth-child(2) span{
	display: inline-block;
	width: 14px;
	height: 18px;
	background: url(../img/nuandao.png) no-repeat -160px -280px;
	position: absolute;
	top: 9px;
	left: -20px;
}
.nav-bottom .nav-right li:nth-child(3) span{
	text-indent: -999em;
	display: inline-block;
	width: 24px;
	height: 18px;
	background: url(../img/nuandao.png) no-repeat -220px -280px;
	position: absolute;
	left: 3px;
	top: 9px;
	
}

/*轮播图*/
#solid{
	
}
