@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
b,strong{font-weight:100;}
em,i{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:100;font-size:16px;}
a,u{text-decoration: none;color: #cdcdcd;}
input{outline:none;border: none;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.clearfix{zoom:1;}

//背景

body{
    width: 100%;
//  background: url(../../img/default-bkg.jpg) no-repeat;
    z-index: -999;
    overflow:hidden ;
    
}

/*头部*/
.header{
        width: 100%;
    .head{
        width: 100%;
        height: 46px;
        background: rgba(0,0,0,0.9);
    h1{
        width: 100px;
        height: 38px;
        background:url(../../img/nuandao.png) no-repeat -50px -280px;
        margin-top: 4px;
        margin-bottom: 4px;
        margin-left: 20px;
        float:left;
        text-indent: -999em;
        z-index: 1;
        }
    }  
}

//中间内容部分
#zhezhao{
    z-index: -740;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 700px;
    padding-top:70px ;
    .mainer{
        width: 100%;
        height: 581px;
        .main{
            width:710px ;
            height: 450px;
            margin-left: 284px;
            margin-top: 100px;
            background: #FFFFFF;
            padding-top: 28px;
    //      padding-top: 28px;
            .m-left{
                width: 309px;
                height: 411px;
    //          background: deepskyblue;
                float: left;
                padding-left: 36px;
                position: relative;
                h4{
                    width: 264px;
                    height: 45px;
                    line-height: 35px;
                    font-size: 19px;
                    color: #303030;
                    border-bottom: 1px solid #777777;
                    letter-spacing: 3px;
                }
                .s-1{
                    display: block;
                    width:148px;
                    height: 20px;
                    background: #fff;
                    text-align: center;
                    position: absolute;
                    left: 91px;
                    top:35px;
                }
                .s-2{
                    display: block;
                    width:264px;
                    height: 75px;
                    line-height: 75px;
                    color: #ff1177;
                    font-size: 18px;
    //              background: green;
                    letter-spacing: 3px;
                    text-align: center;
                    i{
                        font-size: 32px;
                        
                    }
                }
                .s-3{
                    display: block;
                    color: #a5a5a5;
                    font-size:14px ;
                    width: 264px;
                    margin-top: 22px;
                    text-align: center;
                }
            }
            .m-right{
                width: 278px;
                height: 411px;
                padding-left: 50px;
    //          background: darkseagreen;
                float: left;
                border-left:1px solid #Dddddd;
                .tabs{
                    width: 278px;
                    height: 27px;
                    color: #ababab;
    //              background: yellow; 
                    li{
                        float: left;
                        a{
                            color: #303030;
                            font-size: 16px;
                        }
                    }  
                    li:nth-child(2){
                        width: 14px;
                        height: 27px;
                        text-align: center;
                    }
                }
                .right-1{
                    width: 278px;
                    height: 362px;
    //              background: orange;
                    .em{
                        display: block;
                        border: none;
                        width: 238px;
                        height: 36px;
                        border: 1px solid #dfdfdf;
                        margin-top: 22px;
                        padding-left: 37px;
                        background: url(../../img/nuandao.png) no-repeat -310px -390px;   
                    }
                    .pwd{
                        border: none;
                        display: block;
                        width: 238px;
                        padding-left: 37px;
                        border: 1px solid #dfdfdf;
                        margin-top: 18px;
                        height: 36px;
                        background: url(../../img/nuandao.png) no-repeat -333px -434px;   
                    }
                    .forget{
                        display: block;
    //                  background: red;
                        width: 278px;
                        height: 48px;
                        line-height: 40px;
                        text-align: right;
                        font-size: 12px;
                    }
                    .zhuce{
                        display: block;
                        width: 278px;
                        border: none;
                        height: 40px;
                        line-height: 40px;
                        background:#3ec0a3 ;
                        color: #fff;
                        font-size:19px ;
                        text-align: center;
                        margin: 0 auto;
                    }
                    b{
                        display: block;
                        width: 278px;
                        height: 48px;
                        line-height: 40px;
    //                  background: plum;
                        font-size: 12px;
                        color: #ababab;
                    }
                    .weibo{
                        border: none;
                        display: block;
                        width: 278px;
                        height: 40px;
                        border: 1px solid dodgerbluen;
                        background: #fff;
                        color: red;
                        font-size: 20px;
                    }
                    .a-more{
                        display: block;
                        width: 268px;
                        height: 36px;
                        color: #b1b1b1;
                        font-size:12px ;
                        text-align: right;
                        line-height: 34px;
                    }
                    .more{
                        display: none;
                        a:nth-child(1){
                            display: inline-block;
                            width:47px ;
                            height: 18px;
                            color: #b1b1b1;
                            font-size: 12px;
                            background: url(../../img/sns-bind.png) no-repeat -36px -492px;  
                            padding-left: 25px;
                        }
                        a:nth-child(2){
                            display: inline-block;
                            width:52px ;
                            height: 18px;
                            color: #b1b1b1;
                            font-size: 12px;
                            padding-left: 50px;
                            background: url(../../img/sns-bind.png) no-repeat -20px -462px;  
                        }
                    }
                    p{
                        width: 268px;
                        height: 11px;
                        color: #ABABAB;
                        font-size: 12px;
                        margin-top: 10px;
                        a{
                            display: inline-block;
                            font-size: 12px;
                            color: #ABABAB;
                            text-decoration: underline;
                        }
                    }
                }
                .right-2{
                    width: 278px;
                    height: 362px;
    //              background: orange;
                    .em{
                        display: block;
                        border: none;
                        width: 238px;
                        height: 36px;
                        border: 1px solid #dfdfdf;
                        margin-top: 22px;
                        padding-left: 37px;
                        background: url(../../img/nuandao.png) no-repeat -310px -390px;   
                    }
                    .pwd{
                        border: none;
                        display: block;
                        width: 238px;
                        padding-left: 37px;
                        border: 1px solid #dfdfdf;
                        margin-top: 18px;
                        height: 36px;
                        background: url(../../img/nuandao.png) no-repeat -333px -434px;   
                    }
                    .forget{
                        display: block;
    //                  background: red;
                        width: 278px;
                        height: 48px;
                        line-height: 40px;
                        text-align: right;
                        font-size: 12px;
                    }
                    .zhuce{
                        display: block;
                        width: 278px;
                        border: none;
                        height: 40px;
                        line-height: 40px;
                        background:#3ec0a3 ;
                        color: #fff;
                        font-size:19px ;
                        text-align: center;
                        margin: 0 auto;
                    }
                    b{
                        display: block;
                        width: 278px;
                        height: 48px;
                        line-height: 40px;
    //                  background: plum;
                        font-size: 12px;
                        color: #ababab;
                    }
                    .weibo{
                        display: block;
                        width: 278px;
                        height: 40px;
                        color: #d23838;
                        border: none;
                        font-size:18px ;
                        padding-left:10px ;
                        border: 1px solid #FF0000;
                        background: #fff;
                        background: url(../../img/sns-bind.png) no-repeat 42px -422px;
                    }
                    .a-more{
                        display: block;
                        width: 268px;
                        height: 36px;
                        color: #b1b1b1;
                        font-size:12px ;
                        text-align: right;
                        line-height: 34px;
                    }
                    .more{
                        display: none;
                        .a-1{
                            display: inline-block;
                            width:47px ;
                            height: 18px;
                            color: #b1b1b1;
                            font-size: 12px;
                            background: url(../../img/sns-bind.png) no-repeat -36px -492px;  
                            padding-left: 25px;
                        }
                        .a-2{
                            display: inline-block;
                            width:52px ;
                            height: 18px;
                            color: #b1b1b1;
                            font-size: 12px;
                            padding-left: 50px;
                            background: url(../../img/sns-bind.png) no-repeat -20px -462px;  
                        }
                    }
                    p{
                        width: 268px;
                        height: 11px;
                        color: #ABABAB;
                        font-size: 12px;
                        margin-top: 10px;
                        a{
                            display: inline-block;
                            font-size: 12px;
                            color: #ABABAB;
                            text-decoration: underline;
                        }
                    }
                }
            }
     
        }
    }
}





/*f-bot   版权使用权限*/
.f-bot{
    width: 1255px;
    height: 96px;
    background: #fff;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
//  background: red;
   .ul-left{
        float:left;
        .ul-bot{
            width: 900px;
            height: 26px;
            padding-top: 15px ;
//          background: forestgreen ;
           li{
                float: left;
                a{
                    font-size:12px ;    
                    color: #303030;
                }
            }
            .f-bot .ul-bot .li-1{
                width: 31px;
                text-align: center;
            }
        }
        div{
            font-size:12px ;    
            color: #303030;
            
        }
    }
    .ul-right{
        padding-top: 11px;
        width: 310px;
        height:85px ;
//      background: pink;
        float: right; 
        .right-t{
            float: left;  
            margin-top: 10px;
        }  
        .right-b{
            text-align: right;
            color: #000;
            font-size: 12px;
            float: right;
            p{
                height: 25px;
                line-height: 25px;
                margin-top: 20px;
            }
        }
    }
}



//背景视频  @
#v1{
    width: auto;
    height: auto;
    z-index: -800;
    position: fixed;
    top: 0;
    left: 0;
}
